---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---



<!-- 外部索引链接 -->
<!-- 外部索引链接 -->
<div class="wordwrap">
  {% if site.author.googlescholar or site.author.dblp %}
    You can also find my articles on
    {% if site.author.googlescholar %}<a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>{% endif %}
    {% if site.author.googlescholar and site.author.dblp %} or {% endif %}
    {% if site.author.dblp %}<a href="{{ site.author.dblp }}">my DBLP page</a>{% endif %}.
  {% endif %}
</div>

<p style="font-weight: bold; margin-top: -0.5em; margin-bottom: 1em;">
  <sup>†</sup>Equal contribution; <sup>*</sup>Corresponding author.
</p>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- 统一说明 -->
<p class="notice--info" style="font-size:0.9em;">
  <sup>†</sup>Equal contribution; <sup>*</sup>Corresponding author.
</p>

